bin/Debug/net6.0-windows/Accessibility.dll
bin/Debug/net6.0-windows/Common.dll
bin/Debug/net6.0-windows/Dawnsbury Days.dll
bin/Debug/net6.0-windows/Dawnsbury Days.dll.config
bin/Debug/net6.0-windows/Dawnsbury Days.xml
bin/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.deps.json
bin/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.dll
bin/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.pdb
bin/Debug/net6.0-windows/FmodForFoxes.Desktop.dll
bin/Debug/net6.0-windows/FmodForFoxes.dll
bin/Debug/net6.0-windows/Humanizer.dll
bin/Debug/net6.0-windows/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0-windows/MonoGame.Extended.dll
bin/Debug/net6.0-windows/MonoGame.Framework.dll
bin/Debug/net6.0-windows/MoreLinq.dll
bin/Debug/net6.0-windows/Newtonsoft.Json.dll
bin/Debug/net6.0-windows/Priority Queue.dll
bin/Debug/net6.0-windows/SharpDX.Direct3D9.dll
bin/Debug/net6.0-windows/SharpDX.Direct3D11.dll
bin/Debug/net6.0-windows/SharpDX.dll
bin/Debug/net6.0-windows/SharpDX.DXGI.dll
bin/Debug/net6.0-windows/SharpDX.Mathematics.dll
bin/Debug/net6.0-windows/SharpDX.MediaFoundation.dll
bin/Debug/net6.0-windows/SharpDX.XAudio2.dll
bin/Debug/net6.0-windows/SharpDX.XInput.dll
bin/Debug/net6.0-windows/Steamworks.NET.dll
bin/Debug/net6.0-windows/System.Configuration.ConfigurationManager.dll
bin/Debug/net6.0-windows/System.Drawing.Common.dll
bin/Debug/net6.0-windows/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0-windows/System.Security.Permissions.dll
bin/Debug/net6.0-windows/System.Windows.Extensions.dll
bin/Debug/net6.0-windows/System.Windows.Forms.dll
bin/Debug/net6.0-windows/System.Windows.Forms.Primitives.dll
bin/Debug/net6.0-windows/TiledLib.dll
bin/Debug/net6.0-windows/cs/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/cs/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/DawnniburyExpandedAssets/AnimatedAssault.png
bin/Debug/net6.0-windows/DawnniburyExpandedAssets/BattleMedicine.png
bin/Debug/net6.0-windows/DawnniburyExpandedAssets/ScorchingRay.png
bin/Debug/net6.0-windows/de/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/de/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/es/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/es/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/fr/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/fr/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/it/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/it/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/ja/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/ja/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/ko/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/ko/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/pl/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/pl/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/pt-BR/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/pt-BR/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/ru/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/ru/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/tr/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/tr/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/zh-Hans/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/zh-Hans/System.Windows.Forms.resources.dll
bin/Debug/net6.0-windows/zh-Hant/System.Windows.Forms.Primitives.resources.dll
bin/Debug/net6.0-windows/zh-Hant/System.Windows.Forms.resources.dll
DawnniburyExpandedAssets/AnimatedAssault.png
DawnniburyExpandedAssets/BattleMedicine.png
DawnniburyExpandedAssets/BestialMutagen.png
DawnniburyExpandedAssets/DrakeheartMutagen.png
DawnniburyExpandedAssets/EnergyMutagenAcid.png
DawnniburyExpandedAssets/EnergyMutagenCold.png
DawnniburyExpandedAssets/EnergyMutagenFire.png
DawnniburyExpandedAssets/EnergyMutagenLightning.png
DawnniburyExpandedAssets/FinalSurge.png
DawnniburyExpandedAssets/JuggernautMutagen.png
DawnniburyExpandedAssets/ScorchingRay.png
DawnniburyExpandedAssets/SereneMutagen.png
Debug/CustomMods/DawnniburyExpandedAssets/AnimatedAssault.png
Debug/CustomMods/DawnniburyExpandedAssets/BattleMedicine.png
Debug/CustomMods/DawnniburyExpandedAssets/ScorchingRay.png
obj/Dawnsbury.Mods.DawnniExpanded.csproj.nuget.dgspec.json
obj/Dawnsbury.Mods.DawnniExpanded.csproj.nuget.g.props
obj/Dawnsbury.Mods.DawnniExpanded.csproj.nuget.g.targets
obj/Dawnsbury.Mods.Spellbook.AnimatedAssault.csproj.nuget.dgspec.json
obj/Dawnsbury.Mods.Spellbook.AnimatedAssault.csproj.nuget.g.props
obj/Dawnsbury.Mods.Spellbook.AnimatedAssault.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.AssemblyInfo.cs
obj/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.assets.cache
obj/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.csproj.CopyComplete
obj/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.csproj.CoreCompileInputs.cache
obj/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.dll
obj/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/Dawnsbury.Mods.DawnniExpanded.pdb
obj/Debug/net6.0-windows/Dawnsbury.Mods.Spellbook.AnimatedAssault.AssemblyInfo.cs
obj/Debug/net6.0-windows/Dawnsbury.Mods.Spellbook.AnimatedAssault.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/Dawnsbury.Mods.Spellbook.AnimatedAssault.assets.cache
obj/Debug/net6.0-windows/Dawnsbury.Mods.Spellbook.AnimatedAssault.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/Dawnsbury.Mods.Spellbook.AnimatedAssault.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/ref/Dawnsbury.Mods.DawnniExpanded.dll
obj/Debug/net6.0-windows/refint/Dawnsbury.Mods.DawnniExpanded.dll
Dawnsbury.Mods.DawnniExpanded.csproj
Dawnsbury.Mods.DawnniExpanded.sln
DawnniburyExpandedAssets/Endure.png
DawnniburyExpandedAssets/EnergyMutagenElectricity.png
DawnniburyExpandedAssets/FalseLife.png
DawnniburyExpandedAssets/RousingSplash.png
Decomplie.code-workspace
.editorconfig
/obj/x86/Debug
/.vs/Dawnsbury.Mods.DawnniExpanded/FileContentIndex
/Dawnsbury.Mod.targets
/.vs/Dawnsbury.Mods.DawnniExpanded/v17
/obj/Debug
*.user
/.vs/ProjectEvaluation
/.vs/Dawnsbury.Mods.DawnniExpanded/DesignTimeBuild
/bin/Debug/net6.0-windows
